.cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
    transition: background-color 0.3s;
  }
  
  .cart-button:hover {
    background-color: #e64a19;
  }